---
layout: default
---

<br />

<div class="alert">
  <strong>Warning:</strong> This documentation is horribly incomplete.
</div>

<div class="tab-content">

  <div id="about" class="active tab-pane">
    {% include_markdown pages/about.md %}
  </div>

  <div id="overview" class="tab-pane">
    {% include_markdown pages/overview.md %}
  </div>

  <div id="stages" class="tab-pane">
    {% include_markdown pages/stages.md %}
  </div>

  <div id="actors" class="tab-pane">
    {% include_markdown pages/actors.md %}
  </div>

  <div id="actor_views" class="tab-pane">
    {% include_markdown pages/actor_views.md %}
  </div>

  <div id="behaviors" class="tab-pane">
    {% include_markdown pages/behaviors.md %}
  </div>

  <div id="input" class="tab-pane">
    {% include_markdown pages/input.md %}
  </div>

  <div id="audio" class="tab-pane">
    {% include_markdown pages/audio.md %}
  </div>

  <div id="testing" class="tab-pane">
    {% include_markdown pages/testing.md %}
  </div>

  <div id="advanced" class="tab-pane">
    {% include_markdown pages/advanced.md %}
  </div>

</div>
