%ul#menu-tabs.aside.nav.nav-tabs.nav-stacked.affix.span3
  %li.hidden.active
    %a{'data-toggle' => 'tab', href: '#about'}
      %strong About
      %p About Gamebox
  %li
    %a{'data-toggle' => 'tab', href: '#core'}
      %strong Core
      %p Basic introduction
  %li
    %a{'data-toggle' => 'tab', href: '#stages'}
      %strong Stages
      %p Game mode management
  %li
    %a{'data-toggle' => 'tab', href: '#actors'}
      %strong Actors
      %p Entities of your game
  %li
    %a{'data-toggle' => 'tab', href: '#behaviors'}
      %strong Behaviors
      %p Logic for actors
  %li
    %a{'data-toggle' => 'tab', href: '#tutorial'}
      %strong Tutorial
      %p OMG Aliens
  %li
    %a{'data-toggle' => 'tab', href: '#examples'}
      %strong Examples
      %p See larger games
  %li
    %a{'data-toggle' => 'tab', href: '#extras'}
      %strong Extras
      %p Odds and ends
