%ul#menu-tabs.aside.nav.nav-tabs.nav-stacked.affix.span3
  %li.hidden.active
    %a{'data-toggle' => 'tab', href: '#about'}
      %strong About
      %p About Gamebox
  %li
    %a{'data-toggle' => 'tab', href: '#overview'}
      %strong Overview
      %p Getting Started
  %li
    %a{'data-toggle' => 'tab', href: '#stages'}
      %strong Stages
      %p Game mode management
  %li
    %a{'data-toggle' => 'tab', href: '#actors'}
      %strong Actors
      %p Entities of your game
  %li
    %a{'data-toggle' => 'tab', href: '#actorviews'}
      %strong Actor Views
      %p
  %li
    %a{'data-toggle' => 'tab', href: '#behaviors'}
      %strong Behaviors
      %p Logic for actors
  %li
    %a{'data-toggle' => 'tab', href: '#input'}
      %strong Input & Updates
      %p Reacting to events
  %li
    %a{'data-toggle' => 'tab', href: '#audio'}
      %strong Sound &amp; Music
      %p Hey! Listen!
  %li
    %a{'data-toggle' => 'tab', href: '#testing'}
      %strong Testing
      %p Test it real good
  -# %li
  -#   %a{'data-toggle' => 'tab', href: '#tutorial'}
  -#     %strong Tutorial
  -#     %p OMG Aliens
  -# %li
  -#   %a{'data-toggle' => 'tab', href: '#examples'}
  -#     %strong Examples
  -#     %p See larger games
  %li
    %a{'data-toggle' => 'tab', href: '#extras'}
      %strong Extras
      %p Odds and ends
