!!!

%html
  %head
    %title Gamebox
    %link(href="/stylesheets/bootstrap.css" rel="stylesheet")
    %link(href="/stylesheets/application.css" rel="stylesheet")
    %link(href="/stylesheets/syntax.css" rel="stylesheet")
    %script(src="/javascript/jquery-1.10.1.min.js")
    %script(src="/javascript/bootstrap.js")
    %script(src="/javascript/application.js")
    %script(src="/javascript/google_tracking.js")


  %body
    .content
      {% haml header.haml %}
      .row
        .span4
          {% haml aside.haml %}
        .span8
          {{ content }}
